#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
ol{
  
  text-align: center;
  padding: 0;
  color: rgb(7, 7, 7);
}
li{
  padding: 4px;
  margin-left: 20px;
  color: rgb(7, 7, 7);
}
li button{
  
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  
  margin: 15px;
  cursor: pointer;
}
li button:hover{
  background-color: #646cff;
  color: white;
}
  
  
